[Desktop Entry]
Name=Nautune
Comment=Poseidon's Music Player for Jellyfin
Exec=nautune
Icon=nautune
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
StartupWMClass=com.elysiumdisc.nautune
